/* Global ==================================== */
:root {
    /* --primary-purple: #bb86fc; */
    --dark-primary: #1f1b24;
    --dark-gray: #121212;
    --light-gray: #969cb3;
    --dark-blue: #363f5f;

    --light-primary: #f0f2f5;
    /* --dark-green: #2d4a22; */

    --color-expense: #e92929;
    --color-income: #49aa26;

    --red: #e92929;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    font-family: 'Poppins', sans-serif;    
    background-color: var(--dark-primary);
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;

    border-width: 0;
    overflow: hidden;

    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.container {
    width: min(90vw, 800px);

    margin: auto;
}

/* Titles ==================================== */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;

    font-weight: normal;

    color: #fff;
}

/* Links and Buttons ==================================== */

a {
    color: var(--dark-blue);
    text-decoration: none;
}

a:hover {
    color: var(--dark-blue);
}

button {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: .2rem;

    color: var(--light-primary);
    background-color: var(--color-income);

    cursor: pointer;
}
button:hover {
    opacity: .6;
}
.button.new {
    display: inline-block;

    margin-bottom: .8rem;

    color: var(--light-gray);
    opacity: .7;
}

.button.new:hover {
    opacity: 1;
}

a.button.cancel {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    border: 2px solid var(--red);
    border-radius: .25rem;

    color: var(--red);

    opacity: .6;
}

a.button.cancel:hover {
    opacity: 1;
}

/* Header ==================================== */

header {
    padding: 2rem 0 10rem;

    text-align: center;
    background-color: var(--dark-gray);
}

#logo {
    font-weight: 100;

    color: #fff;
}

#logo span {
    color: var(--primary-purple);
}

/* Balance ==================================== */

#balance {
    margin-top: -7rem;
}

#balance h2 {
    margin-top: 0;
}

.card {
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;

    border-radius: .25rem;

    color: var(--dark-gray);
    background-color: #fff;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

}
.card.incomes {
    color: var(--light-primary);
    background-color: var(--dark-primary);

}

.card.expenses {
    background-color: var(--color-expense);
}

.card.total {
    background-color: var(--color-income);
}

/* Table ==================================== */

.transaction-table {
    display: block;

    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;

    color: var(--light-gray);

}

table th {
    padding: 1rem 2rem;

    font-weight: normal;
    text-align: left;

    background-color: var(--dark-gray);
}

table td {
    padding: 1rem 2rem;

    background-color: var(--dark-gray);
}

table tbody tr {
    opacity: .7;
}

table tbody tr:hover {
    opacity: 1;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;

}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;

}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--color-income);
}

td.expense {
    color: var(--color-expense);
}


/* Footer ==================================== */

footer {
    padding: 4rem 0 2rem;

    text-align: center;

    color: var(--dark-blue);

    opacity: .6;
}

/* Modal ==================================== */

.modal-overlay {
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: relative;

    padding: 2.4rem;

    max-width: 500px;
    width: 90%;

    border-radius: .25rem;

    background-color: var(--dark-gray);
}

/* Form ==================================== */

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    padding: .8rem;

    width: 100%;

    border: none;
    border-radius: .2rem;

    color: var(--light-primary);
    background-color: var(--dark-primary);
}

input,
input::placeholder {
    color: var(--light-gray);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.input-group {
    margin-top: .8rem;
}

.input-group label {
    font-size: .8rem;

    color: var(--light-primary);
    opacity: .9;
}

.input-group small {
    color: var(--light-primary);

    opacity: .7;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

.input-group.actions button {
    font-weight: bold;

    color: var(--dark-gray);
}

/* Responsive ==================================== */

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


