/* Global ==================================== */
:root {
    --primary-purple: #bb86fc;
    --dark-primary: #1f1b24;
    --dark-gray: #121212;
    --dark-blue: #363f5f;

    --light-primary: #f0f2f5;
    --dark-green: #2d4a22;

    --color-expense: #e92929;
    --color-income: #49aa26;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;    
    background-color: var(--dark-primary);
}

.container {
    width: min(90vw, 800px);

    margin: auto;
}

/* Titles ==================================== */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;

    font-weight: normal;

    color: #fff;
}

/* Header ==================================== */

header {
    padding: 2rem 0 10rem;

    text-align: center;
    background-color: var(--dark-gray);
}

#logo {
    font-weight: 100;

    color: #fff;
}

#logo span {
    color: var(--primary-purple);
}

/* Balance ==================================== */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    margin-top: 0;
}

.card {
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;

    border-radius: .25rem;

    color: var(--dark-gray);
    background-color: #fff;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
}

.card.expenses {
    background-color: var(--color-expense);
}

.card.total {
    background-color: var(--color-income);
}

/* Table ==================================== */

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;

    color: #969cb3;

}

table th {
    padding: 1rem 2rem;

    font-weight: normal;
    text-align: left;

    background-color: var(--dark-gray);
}

table td {
    padding: 1rem 2rem;

    background-color: var(--dark-gray);
}

table tbody tr {
    opacity: .7;
}

table tbody tr:hover {
    opacity: 1;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;

}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--color-income);
}

td.expense {
    color: var(--color-expense);
}


/* Footer ==================================== */

footer {
    padding: 4rem 0 2rem;

    text-align: center;

    color: var(--dark-blue);

    opacity: .6;
}